@charset "UTF-8";

ul {
	list-style-type: none;
	margin-bottom: 0;
}

.qna-header, .qna-item {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1px solid #dee2e6;
}

.qna-header div, .qna-item div {
	flex: 1;
	text-align: center;
}

.qna-header .small-col, .qna-item .small-col {
	flex: 0.3;
}

.qna-item {
	position: relative
}

.link {
	display: block;
	height: 100%;
	width:100%;
	position:absolut;
	top: 0;
	left: 0;
	text-decoration: none;
	color: black;
}