@charset "UTF-8";

ul {
	list-style-type: none;
	margin-bottom: 0;
}

.review-header, .review-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #dee2e6;
}

.review-header div, .review-item div {
    flex: 1;
    text-align: center;
}

.review-header .small-col, .review-item .small-col {
    flex: 0.3;
}

.review-item img {
    width: 100px;
    height: 100px;
}


#badge {
	width: 30px;
	height: auto;
}

.review-item {
	position: relative
}

.link {
	display: block;
	height: 100%;
	width:100%;
	position:absolut;
	top: 0;
	left: 0;
	text-decoration: none;
	color: black;
}

.page-link {
  color: #000; 
  background-color: #fff;
  border: 1px solid #ccc; 
}

.page-item.active .page-link {
 z-index: 1;
 color: white;
 font-weight:bold;
 background-color: #3a3a3a;
 border-color: #6c757d;
 
}

.page-link:focus, .page-link:hover {
  color: white;
  background-color: #6c757d; 
  border-color: #ccc;
}