@charset "UTF-8";

ul {
	list-style-type: none;
	margin-bottom: 0;
}

.member-header, .member-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #dee2e6;
}

.member-header div {
	font-weight: bold;
}

.member-header div, .member-item div {
    flex: 1;
    text-align: center;
}

.member-header .small-col, .member-item .small-col {
    flex: 0.3;
}

#badge {
	width: 30px;
	height: auto;
}