@charset "UTF-8";

.detail-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #f8f9fa;
}
.detail-item {
    margin-bottom: 10px;
}
.btn-group {
    margin-top: 20px;
}
.btn-custom {
    margin-right: 10px;
}