@charset "UTF-8";

.card {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 16px;
    background-color: #fff;
}

.card-header {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 8px;
    margin-bottom: 12px;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-item {
    display: flex;
    align-items: center;
}

.card-item strong {
    flex-shrink: 0;
    width: 100px;
}

.card-item span {
    flex-grow: 1;
    text-align: left;
}

#replytext, #replydate {
    background-color: #f8f9fa;
    padding: 8px;
    border-radius: 4px;
    margin-top: 8px;
}

.card-footer {
    margin-top: 20px;
}

.card-footer form {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

.card-footer .btn {
    margin-top: 10px;
}

.card-footer textarea {
    width: 100% !important;
    margin-bottom: 10px;
    height: 100px;
    box-sizing: border-box;
}

textarea {
	background-color: white;
	resize: none;
}

.pre-styled {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    margin: 0;
}