@charset "UTF-8";

a {
	text-decoration: none;
	color: black;
}

#new{
	display:flex;
}
img{
	width:200px;
}
h3{
	display:flex;
}
#bestItems{
	width: 100%;
	 display: flex;
	 flex-wrap: wrap;
}
#best20{
	width:300px;
	display: flex;
	flex: 1 0 20%; /* 1 행에 5개 아이템이 들어가도록 설정 */
    box-sizing: border-box;
        padding: 10px;
        border:1px solid red;
}
#best{ height:100%;}
#new{ width:1400px;}
