/* 전체를 묶는 div 스타일 */
#container {
    position: relative;
    width: 90%;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
}

/* HEAD */
#container a {
    text-decoration: none;
    margin: 35px auto;
	color: #646464;
}

/* 베스트 20, 신상품, 공지, 리뷰 div 스타일 */
.section {
    margin-bottom: 20px; /* 하단 여백 추가 */
	border-bottom: 1px solid #ddd; /* 구분선 */
}

.section-title{
	margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 20px;
    font-size: 150%;
}

/* 전체보기 버튼 스타일 */
.view-all {
    display: flex;

}

.view-all a {
    display: block;
    text-align: center;
    padding: 5px;
    background-color: rgb(250 250 250);
    color: #646464;
    text-decoration: none;
    border-radius: 5px;
    width: 20%;
    border: 1px solid #e5e5e5;
}

.product-row{
	display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
}

/* 상품 박스 스타일 */
.product-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 25%; /* 한 줄에 4개씩 표시 */
    box-sizing: border-box; /* 가로 여백, 패딩을 포함한 크기 지정 */
}

.product-info {
    flex-grow: 1;
    margin-left: 10px; /* 상품 정보와 전체보기 버튼 사이 여백 */
}

.product-image {
    width: 100%; /* 부모 요소에 맞추기 위해 100%로 설정 */
    height: 0; /* 높이를 0으로 설정하여 이미지가 보이지 않도록 함 */
    padding-top: 100%; /* 높이를 width 값에 맞추기 위해 너비의 비율인 100%로 설정 */
    position: relative; /* 포지션을 상대적으로 설정하여 내부 내용의 위치를 조정하기 위해 */
    overflow: hidden; /* 이미지가 넘치는 부분을 숨김 */
}

.category-image{
    width: 100%; /* 부모 요소에 맞추기 위해 100%로 설정 */
    height: 0; /* 높이를 0으로 설정하여 이미지가 보이지 않도록 함 */
    padding-top: 100%; /* 높이를 width 값에 맞추기 위해 너비의 비율인 100%로 설정 */
    position: relative; /* 포지션을 상대적으로 설정하여 내부 내용의 위치를 조정하기 위해 */
    overflow: hidden; /* 이미지가 넘치는 부분을 숨김 */	
}

.category-image img{
	position: absolute; /* 이미지를 상위 요소에 대해 절대 위치로 설정하여 부모 요소의 크기에 맞게 조정 */
    width: 100%; /* 부모 요소에 맞춰 크기 조절 */
    height: auto; /* 높이 자동 조절 */
	top: 0; /* 상단으로 정렬 */
    left: 0; /* 왼쪽으로 정렬 */	
}

/* 썸네일 이미지 스타일 */
.product-image img {
	position: absolute; /* 이미지를 상위 요소에 대해 절대 위치로 설정하여 부모 요소의 크기에 맞게 조정 */
    width: 100%; /* 부모 요소에 맞춰 크기 조절 */
    height: auto; /* 높이 자동 조절 */
	top: 0; /* 상단으로 정렬 */
    left: 0; /* 왼쪽으로 정렬 */
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.product-image img.active {
    opacity: 1;
}

/* 리뷰, 공지 목록 스타일 */
.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* 페이징 */
.page-container{
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
}

.page-row{
	display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-item{
    cursor: pointer;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #656565;
}

.page-item-active{
    cursor: pointer;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #919191;	
}

@media all and (max-width:767px) {
	.product-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0;
		width: 50%; /* 한 줄에 2개씩 표시 */
		box-sizing: border-box; /* 가로 여백, 패딩을 포함한 크기 지정 */
	}

	#container {
		position: relative;
		width: 100%;
		margin: 30px auto;
		padding: 20px;
		background-color: #ffffff;
	}
}

.list-group .link {
	display: block;
	height: 100%;
	width:100%;
	position:absolut;
	top: 0;
	left: 0;
	text-decoration: none;
	color: black;
	margin: 0 !important;
}

.li-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.li-item {
    background-color: #ffffff;
    position: relative
}

.li-item:hover {
    background-color: #d0d0d0;
}

.li-item div {
    flex: 1;
    text-align: center;
}

.li-item .middle-col {
    flex: 0.5;
}

.li-item .small-col {
    flex: 0.3;
}