@charset "UTF-8";

ul {
	list-style-type: none;
}

.notice-header, .notice-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #dee2e6;
}

.notice-header div, .notice-item div {
    flex: 1;
    text-align: center;
}

.notice-header .small-col, .notice-item .small-col {
    flex: 0.3;
}